PORT=30000
LOG_LEVEL=debug
NODE_ENV=development

ORACLE_SKYLINE_URL=http://validator-1-skyline-partner.testnet.ethernal.work:10003
ORACLE_SKYLINE_API_KEY=
ORACLE_REACTOR_URL=http://bridge-api-testnet.apexfusion.org:10003
ORACLE_REACTOR_API_KEY=

CARDANO_API_SKYLINE_URL=http://localhost:41003
CARDANO_API_SKYLINE_API_KEY=
CARDANO_API_REACTOR_URL=http://localhost:41001
CARDANO_API_REACTOR_API_KEY=

WEB_API_API_KEYS='web_api_key_1, web_api_key_2'

STATUS_UPDATE_MODES_SUPPORTED=reactor,skyline,layerzero,centralized

CENTRALIZED_API_URL=https://developers.apexfusion.org
USE_CENTRALIZED_BRIDGE=false

SKYLINE_NEXUS_GATEWAY_ADDR=0x53F9124643E3D15f8d753733C5d908CD6aA65178
SKYLINE_NEXUS_NT_WALLET_ADDR=0x55f32E6DbDC141fd395555a4238bD15FDC386F8D
REACTOR_NEXUS_GATEWAY_ADDR=0x43Bca3122Efa14C68F9d385e3b4Da8847eca32Ba
REACTOR_NEXUS_CENTRALIZED_GATEWAY_ADDR=0xEe639cDA5D46Bd32D0013bB75f60F3E691D9839f
ETH_TX_TTL_INC=50
RECENT_INPUTS_THRESHOLD_MINUTES=5
IS_MAINNET=false

DB_HOST='localhost'
DB_PORT=5432
DB_USERNAME=''
DB_PASSWORD=''
DB_NAME=''
DB_SSL=false

SMTP_HOST=''
SMTP_PORT=465
SMTP_USER=''
SMTP_PASS=''
CONTACT_EMAIL=''

LAYERZERO_API_URL=''
LAYERZERO_SCAN_URL='https://scan-testnet.layerzero-api.com/v1'
LAYERZERO_APIKEY=''
LAYERZERO_CONFIG="nexus::0x9208d82F121806A34a39bB90733b4C5c54F3993e::30384::London,base::0x9208d82F121806A34a39bB90733b4C5c54F3993e::30184::London,bsc::0x9208d82F121806A34a39bB90733b4C5c54F3993e::30102::Legacy"