
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
    radial-gradient(50% 50% at 50% 50%, rgba(18, 18, 18, 0.8) 0%, rgba(18, 18, 18, 0.8) 100%),
    url("./assets/planet-background.webp");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* min-height: calc(100vh - 64px); 64px is the height of the navbar */
  /* padding-bottom: 56px; to compensate for fixed footer */
  min-height: 100vh;
  /* @todo confirm this is doable */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}